extends ../client/layouts/default.pug
include ../client/mixins/box-head.pug
include ../client/mixins/moment.pug

block main
    if(userClient)
        if(orders.length > 0)
            .container.my-3 
                .row 
                    .col-12 
                        +box-head(pageTitle)
                    
                    .row 
                        .col-12
                            table(
                                class="table table-bordered text-center"
                            )
                                thead 
                                    tr 
                                        th STT 
                                        th Thông tin khách hàng
                                        th Sản phẩm đã đặt
                                        th Giá
                                        th Số lượng
                                        th Tổng tiền
                                        th Trạng thái xử lý
                                        th Ngày tạo
                                
                                tbody
                                    each item, index in orders
                                        if(item.products.length > 0)
                                            - var firstProduct = item.listProducts[0];
                                            tr
                                                td(rowspan=item.products.length) #{index+1}
                                                td(rowspan=item.products.length)
                                                    p Họ Tên: #{item.userInfo.fullName}
                                                    p SDT: #{item.userInfo.phone}
                                                    p Địa chỉ: #{item.userInfo.address}  
                                                td
                                                    img(
                                                        src=firstProduct.image 
                                                        alt=firstProduct.title
                                                        style="width: 100px"
                                                    )
                                                    p #{firstProduct.title}
                                                td #{firstProduct.priceNew}
                                                td #{firstProduct.quantity}
                                                td(rowspan=item.products.length) #{item.totalPrice}
                                                td(rowspan=item.products.length)
                                                    if(item.status == "processed")
                                                        button(
                                                            class="btn btn-success"
                                                        ) Đã thanh toán
                                                    else
                                                        button(
                                                            class="btn btn-danger mb-3"
                                                        ) Chưa thanh toán
                                                        br 
                                                        form(
                                                            action=`order/create_payment_again`
                                                            method="POST"
                                                        ) 
                                                            input(
                                                                type="text"
                                                                class="d-none"
                                                                id="id"
                                                                name="id"
                                                                value=item.id
                                                            )
                                                            button(
                                                                type="submit"
                                                                class="btn btn-info"
                                                            ) Thanh toán ngay !
                                                td(rowspan=item.products.length) 
                                                    +formatDateTime(item.createdAt)

                                            each product, index in item.listProducts
                                                if index > 0
                                                    tr
                                                        td 
                                                            img(
                                                                src=product.image 
                                                                alt=product.title
                                                                style="width: 100px"
                                                            )
                                                            p #{product.title}
                                                        td #{product.priceNew}
                                                        td #{product.quantity}

                                                    
        else
            h2.text-center Chưa có đơn hàng nào được tạo
    else    
        h2.text-center Vui lòng đăng nhập để kiểm tra đơn hàng