extends ../../layouts/default.pug

block main
    .container.my-5
        .row.justify-content-center
            .col-6
                h2.text-center Xác thực tài khoản
                form(
                    action=`/user/password/forgot`
                    method="POST"
                )
                    .form-group
                        label(for="email") Email:
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                        )
                    .form-group.text-center.mt-3
                        button(
                            type="submit"
                            class="btn btn-primary btn-block"
                        ) Gửi email xác nhận