extends ../../layouts/default.pug

block main
    .container.my-5
        .row.justify-content-center
            .col-6
                h2.text-center Nhập mã OTP xác thực
                form(
                    action=`/user/password/otp`
                    method="POST"
                )
                    .form-group
                        label(for="email") Email:
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                            value=email
                            readonly
                        )
                    .form-group
                        label(for="otp") Mã OTP:
                        input(
                            type="text"
                            class="form-control"
                            id="otp"
                            name="otp"
                            required
                        )
                    .form-group.text-center.mt-3
                        button(
                            type="submit"
                            class="btn btn-primary btn-block"
                        ) Gửi email xác nhận